body {
	font-family: Consolas, monaco, monospace;	
	font-size: 1.7vw;
}

h3 {
	color: #393838;
}

#pumpimage, #logo {
	width: 20%;
	height: auto;
	max-height: 100%;
}

#boilimage, #spillimage {
	width: 100%;
	height: auto;
}

button {
	transition-duration: 0.2s;
	border: 0.1vw none black;
	border-radius: 1vw;
	padding: 1.4vw 1vw;
	width: 100%;
	height: 80%;
	font-size: 100%;
}

button:hover {
	background-color: white;
	opacity: 0.4;
}

#pumpbutton {
	background-color: #393838;
	color: #c4c2c2;
	width :8%
}

#spillbutton {
	background-color: firebrick;
	color: #c4c2c2;
}

#boilbutton {
	background-color: orange;
}

table {
	width:100%;
	height: auto;
}

#oiltable {
	background-color: #c4c2c2;
	padding: 1.4vw 1vw;
	text-align: center;
	border: 0.1vw solid #393838;
	border-radius: 1vw;
	color: #393838;
}

#inborders {
	border: 0.1vw solid #393838;
	border-radius: 1vw;
}

#typerow {
	width: 25%;
}
