<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="/crudescript.js"></script>
		<link rel="stylesheet" href="/crudestyle.css">
		<meta charset="UTF-8">
		<title>CRUDe</title>
	</head>
	<body onload="homecall()">
		<div align="center">
			<br/>
			<a href="/crude">
				<img src="/images/header.gif" width="220" height="100">
			</a>
			<h3>Cuz there's never too much oil!</h3>
			<img id="pumpimage" src="/images/pumpstill.gif">
			<br/><br/>
			<button id="pumpbutton" onclick="pumpcall()" type="button">Pump!</button>
			<br/><br/>
			<table>
				<tbody>
					<tr>
						<td>
							<img id="boilimage" src="/images/boilstill.gif">
						</td>
						<td>
							<table id="oiltable"></table>
						</td>
						<td>
							<img id="spillimage" src="/images/spillstill.gif">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>