<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/style.css">
		<meta charset="UTF-8">
		<title>CRUDe</title>
	</head>
	<body>
		<div align="center">
			<br/>
			<a href="/crude">
				<img src="/images/header.gif" width="220" height="100">
			</a>
			<h3>Cuz there's never too much oil!</h3>
			<img src="/images/pumpstill.gif">
			<br/><br/>
			<a href="/new">
				<button id="pumpbutton" type="button">Pump!</button>
			</a>
			<br/><br/>
			<table>
				<tbody>
					<tr>
						<td>
							<img src="/images/boilstill.gif">
						</td>
						<td>
							<table id="oiltable">
								<thead>
									<tr>
								 		<td></td>
								 		<td>BatchID</td>
								 		<td>Type</td>
								 		<td>Quantity</td>
								 		<td></td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="oil : ${oillist}">
										<td>
											<a th:href="@{'/refine/'+${oil.batchId}}">
												<button id="boilbutton" type="button">Boil!</button>
											</a>
										</td>
										<td id="inborders" th:text="${oil.batchId}">id</td>
										<td id="inborders" th:text="${oil.type}">id</td>
										<td id="inborders" th:text="${oil.quantity}">id</td>
										<td>
											<a th:href="@{'/destroy/'+${oil.batchId}}">
												<button id="spillbutton" type="button">Spill!</button>
											</a>
										</td>
									</tr>	
								</tbody>
							</table>
						</td>
						<td>
							<img src="/images/spillstill.gif">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>